/* Main Site */

.ui.container {
    width: 800px !important;
    padding-top: 2em;
}

body {
    background-color: #27496d;
}

#start-quiz {
    display: block;
    margin: 0 auto;
}

/* Quiz Game */

.Info {
    text-transform: capitalize;
}

.ui[class*="two column"].grid > .column:not(.row) {
    width: 40% !important;
}

.ui.stackable.centered.two.column.grid {
    margin: 25px;
}

.ui.stackable.centered.two.column.grid > .button.column {
    margin: 5px;
    text-align: center;
}

#container-image {
    position: relative;
    padding: 0px;
}

#placeholder {
    background-color: black;
} 

#placeholder > #image {
    opacity: 0.3;
    filter: blur(4px);
}

#jumbo {
    top: 40%;
    z-index: 999;
    left: 0;
    right: 0;
    position: absolute;
    color: white;
    border-radius: 25px;
    margin: 0px 40px;
    font-size: 24px;
    padding: 0px 15px 0px 15px;
}

#answer-btn {
    padding: 30px;
    font-size: 20px;
}

#floating-label {
    padding: 10px;
}

#help {
    margin: 10px 10px 0px 0px;
    color: white;
    float: right;
}

#Current-Score {
    animation-duration: 500ms;
}

#High-Score {
    max-width: 60px;
    margin: 0 auto;
}

#High-Score > .trophy.icon {
    position: absolute;
    z-index: 1;
    margin: 11px 13px 13px 14px;
}

#High-Score > .certificate.icon {
    animation-duration: 10s;
    font-size: 52px;
}

#Score {
    animation-iteration-count: 10;
}

.ui.bottom.right.popup:before {
    right: 12px;
}

#scoreboard-title {
    font-size: 20px;
}

#score {
    font-size: 15px;
}

#scoreboard-icon {
    float: right;
}